// Base Styles
yellow-grey = #f5f0d7
red = #E58067
black = #34495E
lightblue = #CBE4FB

dark-grey = #444
blue = #34A6FF
orange = #fe8800

@font-face
    font-family title
    src url('../fonts/chunkfive.otf')

@font-face
    font-family main
    src url('../fonts/district-pro-thin.otf')

@font-face
    font-family regular
    src url('../fonts/source-sans-pro.ttf')
    color #333

*
    box-sizing border-box

html
body
    height 100%
    width 100%

body
    text-rendering optimizeLegibility
    background-color #fff
    font-family main

h1
    font-family title
    font-weight normal
    font-size 28px
    margin-bottom 2px
    margin-top 0px

h2
    font-family title
    font-weight normal
    margin-top 20px

body
input
    color #444
    font 300 16px Geneva, Verdana, "Lucida Sans", "Lucida Grande", sans-serif
    line-height 1.2

a
a:visited
    color #0086cc
    text-decoration none

    &:hover
        color red
        text-decoration none

button
    border 0
    border-radius 3px
    background-color dark-grey
    color white
    padding 10px
    margin-right 5px

button:hover
    background-color red

button:active
    background-color red - 20%
    box-shadow 2px 2px 2px red - 40% inset

h1
    a
    a:hover
    a:visited
    a:active
    a:focus
        color black
        outline 0

#menu-toggler
    display none
    margin-left 25px
    margin 10px 15px 10px 25px
    margin-right 15px
    cursor pointer
    font-size 35px
    user-select none

h2 #menu-toggler
    margin-left 0
