// Base Styles
yellow-grey = #f5f0d7
red = #E58067
black = #34495E
lightblue = #CBE4FB

dark-grey = #444
blue = #34A6FF
orange = #fe8800

@font-face
    font-family regular
    src url('../fonts/source-sans-pro.ttf')
    color #333

*
    box-sizing border-box

html
body
    height      100%
    width       100%
    font        16px "Source Sans Pro", sans-serif
    line-height 1.4

body
    text-rendering   optimizeLegibility
    background-color #fff

h1
    font-weight   normal
    font-size     2em
    margin-bottom 2px
    margin-top    0px

h2
    font-weight normal
    margin-top  20px

    // vertically aligned items inside h2
    display     flex
    align-items center

input
    color #444

a
a:visited
    text-decoration none

    &:hover
        text-decoration none

button
    padding          0.8em 1.6em
    margin-right     5px
    border           0
    border-radius    3px
    background-color blue
    color            white
    text-transform   uppercase

button:hover
    background-color darken(blue, 20%)

button:active
    background-color red - 20%
    box-shadow       2px 2px 2px red - 40% inset

h1
    a
    a:hover
    a:visited
    a:active
    a:focus
        color black
        outline 0

#menu-toggler
    display     none
    margin      10px 15px 10px 25px
    cursor      pointer
    font-size   35px
    user-select none

h2 #menu-toggler
    margin-left 0
