// services icons
// ----------------------------------------------------------------------------
.service-icon
    display           inline-block
    flex              none
    margin-right      0.8rem
    background-image  url('../images/sprites/konnectors-services-sprite.svg')
    background-repeat no-repeat
    background-size   cover

// menu
.menu
    .service-icon
        width  24px
        height 24px

.bouyguesbox
    .service-icon
        background-position -24px 0

.bouyguestelecom
    .service-icon
        background-position -24px 0

.free
    .service-icon
        background-position -48px 0

.freemobile
    .service-icon
        background-position -48px 0

.github
    .service-icon
        background-position -72px 0

.githubcommits
    .service-icon
        background-position -72px 0

.jawbone
    .service-icon
        background-position -96px 0

.rescuetime
    .service-icon
        background-position -120px 0

.twitter
    .service-icon
        background-position -144px 0

.withings
    .service-icon
        background-position -168px 0

.nest
    .service-icon
        background-position -192px 0

.digitalocean
    .service-icon
        background-position -216px 0

.sosh
    .service-icon
        background-position -240px 0

.orange
    .service-icon
        background-position -264px 0

.electrabel
    .service-icon
        background-position -288px 0

.isen
    .service-icon
        background-position -312px 0

.virginmobile
    .service-icon
        background-position -336px 0

.numericable
    .service-icon
        background-position -360px 0

.googlecontacts
    .service-icon
        background-position -384px 0

// container
.konnector
    .service-icon
        width  48px
        height 48px

.konnector-bouyguesbox
    .service-icon
        background-position -48px 0

.konnector-bouyguestelecom
    .service-icon
        background-position -48px 0

.konnector-free
    .service-icon
        background-position -96px 0

.konnector-freemobile
    .service-icon
        background-position -96px 0

.konnector-github
    .service-icon
        background-position -144px 0

.konnector-githubcommits
    .service-icon
        background-position -144px 0

.konnector-jawbone
    .service-icon
        background-position -192px 0

.konnector-rescuetime
    .service-icon
        background-position -240px 0

.konnector-twitter
    .service-icon
        background-position -288px 0

.konnector-withings
    .service-icon
        background-position -336px 0

.konnector-nest
    .service-icon
        background-position -384px 0

.konnector-digitalocean
    .service-icon
        background-position -432px 0

.konnector-sosh
    .service-icon
        background-position -480px 0

.konnector-orange
    .service-icon
        background-position -528px 0

.konnector-electrabel
    .service-icon
        background-position -576px 0

.konnector-isen
    .service-icon
        background-position -624px 0

.konnector-virginmobile
    .service-icon
        background-position -672px 0

.konnector-numericable
    .service-icon
        background-position -720px 0

.konnector-googlecontacts
    .service-icon
        background-position -768px 0
