// services icons
// ----------------------------------------------------------------------------
.service-icon
	display           inline-block
	flex              none
	margin-right      0.8rem
	background-image  url('../images/sprites/konnectors-services-sprite.svg')
	background-repeat no-repeat
	background-size   cover

// menu
.menu
	.service-icon
		width  24px
		height 24px

.bouyguesbox
	.service-icon
		background-position -24px 0

.bouyguestelecom
	.service-icon
		background-position -24px 0

.free
	.service-icon
		background-position -48px 0

.freemobile
	.service-icon
		background-position -48px 0

.github
	.service-icon
		background-position -72px 0

.githubcommits
	.service-icon
		background-position -72px 0

.jawbone
	.service-icon
		background-position -96px 0

.rescuetime
	.service-icon
		background-position -120px 0

.twitter
	.service-icon
		background-position -144px 0

.withings
	.service-icon
		background-position -168px 0

.nest
	.service-icon
		background-position -192px 0

.digitalocean
	.service-icon
		background-position -216px 0

.sosh
	.service-icon
		background-position -240px 0

.orange
	.service-icon
		background-position -264px 0

.electrabel
	.service-icon
		background-position -288px 0

.isen
	.service-icon
		background-position -312px 0

.virginmobile
	.service-icon
		background-position -336px 0

.numericable
	.service-icon
		background-position -360px 0

.googlecontacts
	.service-icon
		background-position -384px 0

.linkedin
	.service-icon
		background-position -408px 0

.ovh_eu
	.service-icon
		background-position -432px 0

.ovh_ca
	.service-icon
		background-position -456px 0

.soyoustart_eu
	.service-icon
		background-position -480px 0

.soyoustart_ca
	.service-icon
		background-position -504px 0

.kimsufi_eu
	.service-icon
		background-position -528px 0

.kimsufi_ca
	.service-icon
		background-position -552px 0

.ical_feed
	.service-icon
		background-position -576px 0

.birthdays
	.service-icon
		background-position -600px 0

.meetup
	.service-icon
		background-position -624px 0

.ameli
	.service-icon
		background-position -648px 0

.online_net
	.service-icon
		background-position -672px 0

.sncf
	.service-icon
		background-position -696px 0

.directenergie
	.service-icon
		background-position -720px 0

.doctolib
	.service-icon
		background-position -744px 0

.sfr_box
.sfr_mobile
	.service-icon
		background-position -768px 0

.captain_train
	.service-icon
		background-position -792px 0

.aprr
	.service-icon
		background-position -816px 0

.facebook_events
	.service-icon
		background-position -840px 0

.uber
	.service-icon
		background-position -864px 0

.vente_privee
	.service-icon
		background-position -888px 0

// container
.konnector
	.service-icon
		width  48px
		height 48px

.konnector-bouyguesbox
	.service-icon
		background-position -48px 0

.konnector-bouyguestelecom
	.service-icon
		background-position -48px 0

.konnector-free
	.service-icon
		background-position -96px 0

.konnector-freemobile
	.service-icon
		background-position -96px 0

.konnector-github
	.service-icon
		background-position -144px 0

.konnector-githubcommits
	.service-icon
		background-position -144px 0

.konnector-jawbone
	.service-icon
		background-position -192px 0

.konnector-rescuetime
	.service-icon
		background-position -240px 0

.konnector-twitter
	.service-icon
		background-position -288px 0

.konnector-withings
	.service-icon
		background-position -336px 0

.konnector-nest
	.service-icon
		background-position -384px 0

.konnector-digitalocean
	.service-icon
		background-position -432px 0

.konnector-sosh
	.service-icon
		background-position -480px 0

.konnector-orange
	.service-icon
		background-position -528px 0

.konnector-electrabel
	.service-icon
		background-position -576px 0

.konnector-isen
	.service-icon
		background-position -624px 0

.konnector-virginmobile
	.service-icon
		background-position -672px 0

.konnector-numericable
	.service-icon
		background-position -720px 0

.konnector-googlecontacts
	.service-icon
		background-position -768px 0

.konnector-linkedin
	.service-icon
		background-position -816px 0

.konnector-ovh_eu
	.service-icon
		background-position -864px 0

.konnector-ovh_ca
	.service-icon
		background-position -912px 0

.konnector-soyoustart_eu
	.service-icon
		background-position -960px 0

.konnector-soyoustart_ca
	.service-icon
		background-position -1008px 0

.konnector-kimsufi_eu
	.service-icon
		background-position -1056px 0

.konnector-kimsufi_ca
	.service-icon
		background-position -1104px 0

.konnector-ical_feed
	.service-icon
		background-position -1152px 0

.konnector-birthdays
	.service-icon
		background-position -1200px 0

.konnector-meetup
	.service-icon
		background-position -1248px 0

.konnector-ameli
	.service-icon
		background-position -1296px 0

.konnector-online_net
	.service-icon
		background-position -1344px 0

.konnector-sncf
	.service-icon
		background-position -1392px 0

.konnector-directenergie
	.service-icon
		background-position -1440px 0

.konnector-doctolib
	.service-icon
		background-position -1488px 0

.konnector-sfr_box
.konnector-sfr_mobile
	.service-icon
		background-position -1536px 0

.konnector-captain_train
	.service-icon
		background-position -1584px 0

.konnector-aprr
	.service-icon
		background-position -1632px 0

.konnector-facebook_events
	.service-icon
		background-position -1680px 0

.konnector-uber
	.service-icon
		background-position -1728px 0

.konnector-vente_privee
	.service-icon
		background-position -1776px 0

