.konnector
    margin-bottom: 30px
    padding-bottom: 10px
    padding: 20px
    font-family: main

    h2
        padding-bottom: 0px
        border-bottom: 1px solid black

    div.description
        font-size: 20px
        font-family: main
        margin-bottom: 15px

