/*
    CONTAINER
*/
.container
    margin-left     14em
    padding         2em 4em

    .default
        max-width 50em
        font-size 1.1em

        // circle on top of the box
        $header-size = 306px
        header
            width               $header-size
            height              $header-size
            margin              auto
            background-image    url('../images/illustrations/illustrations-konnectors.svg')
            background-position center center
            background-repeat   no-repeat

    .konnector
        margin-bottom 30px
        padding-bottom 10px

        h2
            margin 0

        div.description
            margin    1em 0
            max-width 50em
            font-size 1.2em

        .field
            margin 15px 0

        .autoimport
            min-width 200px
            max-width 500px

        .error
            color red
            font-weight bold

        .buttons
            margin 30px 0 10px 0
            button
                outline none
                &[aria-disabled=true]
                    background #666
                    color #bbb
                &[aria-busy=true]
                    cursor wait

        .infos div
            margin 5px 0

        // Generated inputs styles
        input
        textarea
            border none
            border-left 5px solid blue
            background #f9f9f9
            width 500px
            padding 10px
            font-size 15px
            outline none

        select
            border 1px solid blue
            outline none

        input:hover
        textarea:hover
        select:hover
            border-color orange

        input:focus
        textarea:focus
        select:focus
            border-color orange - 10%
