/*
    MENU
*/
.menu
    width      14em
    float      left
    background #f2f2f2
    height     100%
    position   fixed
    overflow   auto

    ul
        margin          0.4em 0
        padding         0
        list-style-type none

        li
            display     block
            font-family regular
            font-weight normal
            position    relative

            &.configured a
                color #555

            a
                display         flex
                align-items     center
                outline         none
                width           100%
                height          100%
                padding         0.8em 1em
                text-decoration none
                color           #333

                &:hover
                    background #e5e5e5

                .last-import
                    font-size 12px
                    display   inline-block
                    width     100%
                    height    100%

                .fa-warning
                .spinholder
                    position absolute
                    right    20px

                .spinholder
                    top 8px

                .fa-warning
                    top   15px
                    color red

            &.selected a
                background #d5d5d5
                color      #111
                font-weight bold

