[submodule "server/lib/weboob/cozyweboob"]
	path = server/lib/weboob/cozyweboob
	url = https://github.com/Phyks/cozyweboob
[submodule "server/konnectors/weboob/cozyweboob"]
	path = server/konnectors/weboob/cozyweboob
	url = https://github.com/Phyks/cozyweboob
