doctype html
html(lang="en")
  
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")

  title Cozy - Konnectors
  
  link(rel="stylesheet" href="/fonts/fonts.css")
  link(rel="stylesheet" href="app.css")
    
  script(src="app.js" defer=true)
    
  div(role="application")
