div(v-bind:aria-hidden="false", role="dialog")
    div(role='separator', v-on:click="onClose")
    .wrapper
        div(role='contentinfo')
            header(v-bind:style="headerStyles")
                a(v-on:click="onClose", title='close') Close
                block dialog_header

            main
                block dialog_content

            footer
                block dialog_footer
