
@import 'base/_normalize'
@import 'base/_colors'


html
    font-family: 'Source Sans Pro'
    color: $grey-08


[role="application"]
    display: flex
    flex-direction: row
    height: 100%
    font-size: 1em

    background-color: $grey-01-alpha

    main
        flex: 1
        padding: 2.5em 3em

    h1
        font-size: 2em
        margin: 0 0 2em

    h4
        font-weight: normal
        font-size: 1.5em
        padding: 1em 1.5em
        margin: 0


[role="navigation"]
    display: flex
    flex-direction: column

    min-width: 14em
    background-color: $grey-01
    box-shadow: inset -1px 0 0 0 $grey-01-alpha

    li
        display: flex
        flex-direction: row

    a
        text-decoration: none
        color: $red
        flex: 1
        padding: 1em 1.5em
        margin: 0.25em 0

        &:hover
            background-color: $grey-01-alpha

        &.router-link-active
            background-color: $red
            color: white

        svg
            width: 1.5em
            height: 1.5em
            margin-right: 0.5em
            display: inline-block
            vertical-align: middle
