@import '../../node_modules/normalize.css/normalize.css'
@import './base/_normalize'
@import './base/_colors'

@import 'cozy-ui'

[role=application]
    @extend $app-2panes-toolbar
    background-color: #ffffff

    h1
        font-size: 2em
        margin: 1.5em 2em 1em


aside
    background-color: $grey-01
    box-shadow: inset -1px 0 0 0 $grey-01-alpha

    h4
        font-weight: normal
        font-size: 1.5em
        padding: 1em 1.5em
        margin: 0

[role="navigation"]
    a
        display: block
        text-decoration: none
        color: $red
        flex: 1
        padding: 1em 1.5em
        margin: 0.25em 0

        &:hover:not(.router-link-active)
            background-color: $grey-01-alpha

    .submenu
        margin-left: 3em

        a
            padding: 0.5em 1em
            color: $grey-08

        .router-link-active
            color: white
            background-color: $grey-08
            border-radius: 4px 0 0 4px

    .router-link-active
        background-color: $red
        color: white

        svg
            path
                fill: white

    svg
        width: 1.5em
        height: 1.5em
        margin-right: 0.5em
        display: inline-block
        vertical-align: middle

.accounts-list, .use-cases-list
        display         flex
        flex-wrap       wrap
        margin          0 0 2em 3em

.item-wrapper
        width               19em
        border-radius       4px
        background-color    white
        box-shadow          0 2px 6px 0 rgba(0, 0, 0, 0.15)
        padding-bottom      1em
        margin              .7em
        cursor              pointer
        text-decoration     none
        transition          .2s ease all
        &:hover
            box-shadow          0 4px 12px 0 rgba(0, 0, 0, 0.25)
            transform           scale(1.05)
            transition          .2s ease all
        header
            border-radius       4px 4px 0px 0px
            height              9em
            position            relative
            .item-icon
                border-radius   4px 4px 0px 0px
                width           14em
                height          4em
                margin          2.5em
        .item-title
            padding             0em .5em
            font-size           20px
            margin              .5em
            color               black
        .item-subtitle
            font-size           14px
            padding             0em 1em
            margin              0em .5em
            color               $grey-06

[role=dialog]
    @extend $dialog

    [role=separator]
        cursor pointer
        background-color rgba(78, 91, 105, 0.75)

    .wrapper
        min-height 100vh
        padding 3em 1em
        box-sizing border-box

    [role=contentinfo]
        overflow initial
        flex-direction column
