a(href="#konnector/#{model.slug}")
    span.service-icon
    div
        span.name= model.name
        - if(lastImport != null && lastImport.length > 0)
            span.last-import= lastImport

        - if (model.isImporting === true)
            div.spinholder
                img(src="images/spinner.svg")
        - else if (model.importErrorMessage !== null)
            i.fa.fa-warning(title=t('error occurred during import.'))

